* {
  margin: 0;
  padding: 0;
}

@mixin row {
  display: flex;
}
.main-container {
  padding: 50px;
}
@mixin column {
  display: flex;
  flex-direction: column;
}

.movies-container {
  flex-wrap: wrap;
  @include row;
  justify-content: space-evenly;
}
.movies-card {
  height: 20vh;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  width: 30vw;
  @include column;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 3rem;
  gap: 10px;
}
h1 {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 1.7rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
